/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.badge-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
}